<!-- Modal -->
<div class="modal fade" id="modalNeelofa" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modalNeelofa" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Dapatkan gaya Helena dengan Bloom by Naelofar Hijab!</h5>
      </div>
      <div class="modal-body">

        <div class="scene-product-big-wrapper">
        <div class="scene-product-wrapper">
          <div class="scene-product-thumbnail-wrapper">
            <div class="scene-product-thumbnail" style="background-image: url(http://image.goshop.com.my/resources/ms/image/contents/prd/24/19/20042419_06_400.jpg)">
            </div>
            
          </div>
          <div class="scene-product-details">
            <p class="product-title">Bloom By Naelofar Hijab (3pcs set)</p>
            <div>
              <span class="slashed_price">RM199.00</span>
              <span class="price">RM179.10</span>
            </div>
            <p>Gunakan code <span class="discount_code">RIAFINDIT</span> untuk dapatkan discount eksklusif!</p>
            <%= link_to "Buy Now", "http://www.goshop.com.my/prd/20042419.html?utm_medium=referral&utm_source=astro_findit&utm_campaign=ria_findit_20171110&utm_content=special_bloom", class: 'btn buy_now_button', target: '_blank' %>
          </div>

        </div>
        </div>

      </div>
    </div>
  </div>
</div>
