<%= render "layouts/navbar", link: "/scenes", digital: false %>

<div id="scene-list">
  <%= render partial: 'scene', collection: @scenes %>
</div>

<footer>
  <%= link_to("https://www.facebook.com/Find-It-111053949615332/") do %>
    <%= image_tag "fblogo.png" %>
  <% end %>
</footer>
