<%= render "layouts/navbar", link: "/", digital: false %>

<div class="container" style="color: white;">
  <h2 style="color: yellow;">Promo Terms and Conditions</h2>
  <p>1. The unique code RIAFINDIT is only valid from 11 November 2017 to 17 November 2017 (“Promotion Period”) and is applicable to all new and existing customers of Go Shop (“Customer(s)”).
  </p>
  
  <p>2. Customers who purchased from Go Shop via online at www.goshop.com.my or via mobile application at m.goshop.com.my during the Promotion Period is entitled to an instant promo code “RIAFINDIT” (“Promo Code”) for 10% discount off the selling price of the selected products served on www.astrofindit.com.
  </p>

  <p>3. Customers must register the Promo Code first before applying it at the check-out page prior to payment and follow instructions given therein.
  </p>

  <p>4. Each user can generate multiple “RIAFINDIT” promo codes and apply them on more than one product in their checkout basket so long as those products are part of the selected range served on www.astrofindit.com
  </p>

  <p>5. The Promo Code is valid for use from 11 November 2017 to 17 November 2017 only (“Redemption Period”). Any use or redemption of the Promo Code made before or after the Redemption Period will be invalid and rejected. 
  </p>

  <p>6. Promo code "RIAFINDIT" cannot be used in conjunction with other Go Shop discount codes that may be used in place of the RIAFINDIT discount code.  
  </p>

  <p>7. The use of the Promo Code is applicable for non-cash purchases (credit card, debit card, Easy Payment Scheme and bank transfer) and cash on delivery (COD) purchases.
  </p>

  <p>8. The terms herein on the use of the Promo Code shall also be read with the terms and conditions on Go Shop’s General Terms and Conditions on Promo Codes which can be found on www.goshop.com.my 
  </p>
</div>

