<%= content_for :navbar do %>
<ul class="nav">
  <li class="dropdown">
    <a class="dropdown-toggle category" data-toggle="dropdown" href="#">Category
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu category-dropdown">
      <% @categories.each do |category| %>
      <li>
        <%= link_to category, videos_path(category: category) %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>

<% end %>

<div class="container" id="video-list">
  <%= render @videos %>
</div>
<div id="infinite-scrolling">
  <%= paginate @videos %>
</div>

<span id="scroll_counter" style="color: white;">0</span>
