#tap-follower {
  position: fixed;
  bottom: 10vh;
  right: 5px;
  background: asset_url('Overlay_YE.png');
  height: 15vh;
  width: 15vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


#scene-list {
  display: flex;
  flex-wrap: wrap;
  
  .scene-wrapper {
    width: 33.333%;
  }
  .scene-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: rgba(255, 255, 255, .15);
    height: 300px;
  }
  .scene-thumbnail {
    width: 100%;
    height: 90%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .sceneProduct-thumbnail {
    width: 100%;
    height: 90%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  .scene-title {
    height: 10%;
    color: white;
    padding: 8px;
    min-height: 56px;
  }
  .sceneProduct-desc {
    height: 10%;
    color: white;
    padding: 8px;
    min-height: 56px;
    .slashed_price {
      text-decoration: line-through;
      color: #CCCC00;
    }
    .price {
      color: #FFFF00;
    }
  }

  @media screen and (max-width: 991px) {
    .scene-wrapper {
      width: 50%;
    }
  }
  @media screen and (max-width: 767px) {
    align-items: center;
    .scene-wrapper {
      width: 50%;
      .scene-block {
        height: 180px;
      }
      .scene-block.sceneProduct-block {
        height: 300px;
      }
    }
    .scene-thumbnail {
      height: 95%;
      padding-bottom: 56.25%;
    }
    .sceneProduct-thumbnail {
      height: 70%;
    }
    .scene-title {
      height: 5%;
    }
    .sceneProduct-desc {
      height: 30%;
    }
  }
}


#modalPromo {
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }
  .btn {
    background-color: #C12A68;
    color: white;
    border-radius: 100px;
    padding: 7px 30px;
    &:hover, &:active {
      text-decoration: none;
      background-color: darken(#B72864, 10%);
    }
  }
}
