
  .video-list-container {
    font-family: 'Lato';
    width: 100%;
    margin-top: 5px;
    max-height: 394px;
    display: flex;
    flex-direction: column; 
    padding: 6px;
    background-color: #101010;
    border-bottom: 3px solid rgba(234, 173, 24, 0.67);
    h3 {
      color: #faae18;
      margin-left: 0px;
      font-size: 20px; 
    }
  }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .video-list-container {
        margin: 0;
        max-width: 352px; } }
    @media only screen and (min-width: 1200px) {
      .video-list-container {
        margin: 0;
        max-width: 100%; } }
    .video-list-container .video-list {
      overflow-y: auto;
      text-align: left;
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .video-list-container .video-list {
          flex-direction: column; } }
      @media only screen and (min-width: 1200px) {
        .video-list-container .video-list {
          max-width: 100%;
          flex-direction: row; } }
      .video-list-container .video-list .video-list-row {
        display: flex;
        flex-direction: column;
        max-width: 240px;
        background-color: #070707;
        color: white;
        margin: 1px;
        text-decoration: none;
        height: 230px;
        overflow-y: auto; }
        .video-list-container .video-list .video-list-row .video_picture{
          max-height: 150px; }
        .video-list-container .video-list .video-list-row:hover {
          background-color: #303030; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .video-list-container .video-list .video-list-row {
            flex-direction: row;
            height: inherit;
            max-width: inherit; } }
        @media only screen and (min-width: 1200px) {
          .video-list-container .video-list .video-list-row {
            flex-direction: column;
            height: inherit;
            width: 250px;
            max-width: 400px; } }
        .video-list-container .video-list .video-list-row .video-thumbnail {
          padding: 4px 30px;
          font-size: 0;
          position: relative; }
          .video-list-container .video-list .video-list-row .video-thumbnail img {
            height: 120px;
            max-width: 200px; }
          .video-list-container .video-list .video-list-row .video-thumbnail h6 {
            background-color: black;
            color: white;
            position: absolute;
            margin: 0;
            bottom: 4px;
            right: 4px;
            padding: 1px;
            font-weight: bold; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .video-list-container .video-list .video-list-row .video-thumbnail {
              padding: 4px; } }
          @media only screen and (min-width: 1200px) {
            .video-list-container .video-list .video-list-row .video-thumbnail {
              padding: 4px; } }
        .video-list-container .video-list .video-list-row .video-details {
          padding: 4px; }
          .video-list-container .video-list .video-list-row .video-details h5 {
            display: inline-block;
            background-color: orange;
            color: black;
            margin: 0;
            padding: 2px 8px;
            border-radius: 7px;
            font-size: 10px;
            font-weight: bold; }

