.tooltip {
  font-family: 'Lato';
  padding: 20px;
  width: 300px;
  height: 100%;
  z-index: 800;
  top: 0;
  right: 100%;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8)); /* Standard syntax */
  color: white;
  text-align: center;
}
.tooltip i.fa-spinner {
  font-size: 40px;
}
.tooltip .product_picture {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tooltip .actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}
.tooltip .btn {
  margin: 7px 0;
  background-color: #C12A68;
  color: white;
  border-radius: 100px;
  &:hover, &:active {
    text-decoration: none;
    background-color: darken(#B72864, 10%);
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .tooltip {
    left: 100%;
  }
}
@media screen and (max-width: 991px) {
  .tooltip {
    left: 0;
    top: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .tooltip h4 {
    font-size: 14px;
    flex: 2;
  }
  .tooltip .product_details {
    flex: 3;
    padding: 0 20px;
  }
  .tooltip .product_thumbnail {
    margin-right: 10px;
    flex: 1;
  }
  .tooltip .product_picture {
    height: 65px;
    width: 65px;
  }
  .tooltip .actions {
    padding: 0;
    flex: 2;
  }
  .tooltip .btn {
    font-size: 11px
  }
}
