<img src="<%= product.picture %>" alt="Haha" class="product_picture">
<h4><%= product.title %></h4>
<div class="actions">
  <%= link_to "Buy Now", product.product_link, class: 'btn', target: '_blank' %>
  <button type="button" class="btn">Want an exact match?</button>
</div>
