<nav>
  <div class="nav-wrapper">
    <div class="nav-header">
      <%= link_to(link) do %>
        <div class="logo" style="background-image: url('/assets/finditlogo.png')"></div>
      <% end %>
    </div>
    <% if digital %>
      <%= render 'layouts/dropdown', categories: categories %>
    <% end %>
  </div>
</nav>
