<div class="row">
  <div class="col-md-6 col-xs-6"><%= image_tag("finditlogo.png", class: "logo") %></div>
  <div class="col-md-6 col-xs-6">
    <span><%= image_tag "twitterlogo.png", class: "social_logo" %></span>
    <span><%= image_tag "youtubelogo.png", class: "social_logo" %></span>
    <span><%= image_tag "fblogo.png", class: "social_logo" %></span>
  </div>
</div>
