<nav>
  <div class="nav-wrapper">
    <div class="nav-header">
      <%= link_to("/") do %>
        <%= image_tag("finditlogo.png", class: "logo") %>
      <% end %>
    </div>

    <%= yield :navbar %>
  </div>
</nav>
